[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"

[packages]
cython = "*"
"h5py" = "*"
ipython = {extras = ["all"], version = "*"}
imgaug = "*"
scikit-image = "*"
opencv-python = "*"
scipy = "*"
pillow = "*"
matplotlib = "*"
tensorflow-gpu = "*"
keras = "*"
numpy = "*"

[requires]
python_version = "3.5"
